<div class="wrapper bg-blue-i text-white anim-kit">
    <div class="logo">
        <img class="anim-kit" src="summitair.png">
    </div>
    <div class="inner w-100">
        <div class="item">
            <a class="text-white" href="/"> Home </a>
        </div>
    </div>
    <div class="support-code">
        <div class="opacity-75">
            Made With ABlue in
            <b>Abomis</b>
        </div>
        <div dir="ltr" class="font-20 py-3 opacity-50 fw-lighter latin">v1.6.20
            

        </div>

    </div>
</div>