<div class="summitair lang-en">
  <img class="desktop-backgroud d-block-md w-100 anim-kit no-pointer opacity-75" src="background.png">

  <div id="main-wrapper" class="main-wrapper anim-kit sidebar-vidible" [class.checkin-started]="stepState>1" 
    [class.menu-opened]="isOpened" [class.header-full-height]="stepState==4">

    <div class="container header-buttons">
      <div class="row px-3 mx-0 py-3">
        <div class="col-6 text--start">
          <button class="custom-button text-white h--50" (click)="isOpened=!isOpened">
            <div class="hamburger" [class.is-opened]="isOpened">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
        </div>
        <div class="col-6 text--end">
          <button class="custom-button lang-button text-white h--50 font-24 fw-lighter uppercase"> en </button>
        </div>
      </div>
    </div>
    <img class="header-logo anim-kit" src="summitair.png">
    <div class="header bg-blue-i anim-kit"></div>
    <div id="bodyScroll" class="body anim-kit" [class.full-height]="[1,4].includes(stepState)">
      <router-outlet></router-outlet>
    </div>
    @if(this.isOpened){
    <div id="appMenu" class="container main-menu-wrapper overflow-hidden" [@inOutAnimation]>
      <app-main-menu>
      </app-main-menu>
    </div>
    }
  </div>
</div>