<div class="wrapper pb-md-4 p-3">
    <div class="box-wrapper prohibited-objects backblur-box curved card-4 anim-kit">
        <div class="overflow-hidden curved h-100 p-4 px-md-0 pb-md-0">
            <div class="row mx-0 px-md-3">
                <div class="col-12 px-md-4 py-md-2">
                    <div class="fw-bold font-24 text-shadow-3 text-center text-white mb-4 page-title">Dangerous Goods
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-md-5 px-0 col-12 p-md-4 objects-wrapper position-relative desktop-scroll-wrapper" #acceptRuleDescription>
                    <div id="prohibited-objects" class="row">
                        <div class="col-4 px-0 mb-2 pb-3"><img class="w-75 mx-auto d-block mb-1"
                                src="prohibited-objects/prohibited-object-i.png">
                            <div class="font-14 fw-bold text-center text-333 text-shadow-3">
                                Poisons</div>
                        </div>
                        <div class="col-4 px-0 mb-2 pb-3"><img class="w-75 mx-auto d-block mb-1"
                                src="prohibited-objects/prohibited-object-ii.png">
                            <div class="font-14 fw-bold text-center text-333 text-shadow-3">Wet
                                Cell Batteries</div>
                        </div>
                        <div class="col-4 px-0 mb-2 pb-3"><img class="w-75 mx-auto d-block mb-1"
                                src="prohibited-objects/prohibited-object-iii.png">
                            <div class="font-14 fw-bold text-center text-333 text-shadow-3">
                                Corrosives</div>
                        </div>
                        <div class="col-4 px-0 mb-2 pb-3"><img class="w-75 mx-auto d-block mb-1"
                                src="prohibited-objects/prohibited-object-iv.png">
                            <div class="font-14 fw-bold text-center text-333 text-shadow-3">
                                Fireworks</div>
                        </div>
                        <div class="col-4 px-0 mb-2 pb-3"><img class="w-75 mx-auto d-block mb-1"
                                src="prohibited-objects/prohibited-object-v.png">
                            <div class="font-14 fw-bold text-center text-333 text-shadow-3">
                                Matches</div>
                        </div>
                        <div class="col-4 px-0 mb-2 pb-3"><img class="w-75 mx-auto d-block mb-1"
                                src="prohibited-objects/prohibited-object-vi.png">
                            <div class="font-14 fw-bold text-center text-333 text-shadow-3">
                                Compressed Gas</div>
                        </div>
                        <div class="col-4 px-0"><img class="w-75 mx-auto d-block mb-1"
                                src="prohibited-objects/prohibited-object-vii.png">
                            <div class="font-14 fw-bold text-center text-333 text-shadow-3">
                                Flammable</div>
                        </div>
                        <div class="col-4 px-0"><img class="w-75 mx-auto d-block mb-1"
                                src="prohibited-objects/prohibited-object-viii.png">
                            <div class="font-14 fw-bold text-center text-333 text-shadow-3">Radio
                                Active Material</div>
                        </div>
                        <div class="col-4 px-0"><img class="w-75 mx-auto d-block mb-1"
                                src="prohibited-objects/prohibited-object-ix.png">
                            <div class="font-14 fw-bold text-center text-333 text-shadow-3">
                                Infectous Substance</div>
                        </div><!---->
                    </div><!----><!----><!---->
                    <div class="mt-4 text-center accept-rules" style="margin: 0px -0.5rem;">
                        <label for="acceptRules"
                            class="cursor-pointer anim-kit field-wrapper py-1 px-2 curved-8 text-orange-i">
                            <input type="checkbox" tabindex="-1" name="acceptRules" id="acceptRules" #acceptRules
                                [(ngModel)]="acceptRule"
                                class="custom-checkbox me-1 h--20 w--20 ng-untouched ng-pristine ng-valid">
                            I have read
                            the rules and I accept them. </label>
                    </div><!---->
                </div>
                <div class="col-md-7 p-4 d-none d-md-block font-13 text-blue-i desktop-scroll-wrapper">Airlines will not
                    carry, and passengers must not include in carry on or checked baggage or otherwise attempt to bring
                    on board, goods or items which are prohibited by the applicable laws, regulations or orders of any
                    state to be flown from, to or over; goods or items likely to endanger the aircraft or persons or
                    property on board the aircraft, or items that may become dangerous or are dangerous, such as those
                    specified in the International Civil Aviation Organization (ICAO) Technical Instructions for the
                    Safe Transport of Dangerous Goods by Air, or the International Air Transport Association (IATA)
                    Dangerous Goods Regulations or the Our policies or regulations. Further information is available on
                    request. <br> <br> Without limiting the above, the following types of restricted articles are
                    examples of articles which must not be carried in your baggage. If you have any doubt about what you
                    may carry please request more information from us before you travel.<br> <br> Corrosives e.g. acids,
                    alkaline, mercury and wet cell batteries.<br> <br> Compressed gases e.g. refrigerants, flammable and
                    poisonous such as butane and aqualung cylinders.<br> <br> Flammable liquids and solids e.g. lighter
                    or heating fuel, matches, paints and articles easily ignited.<br> <br> Oxidizing materials, organic
                    peroxides or toxic substances Radioactive materials and all poisons e.g. insecticides and weed
                    killers.<br> <br> Infectious substances e.g. live virus substances.<br> <br> Explosives, munitions,
                    fireworks and flares.<br> <br> Miscellaneous items and substances include dry ice and petrol
                    engines.<br> <br> Firearms and weapons of any type such as blades, knives, and sharp items are not
                    permitted in the cabin but may be allowed by Airlines as checked baggage under certain
                    circumstances.<br> <br> Medicines and toiletries in limited quantities and alcoholic beverages may
                    be carried in checked or cabin baggage (maximum 2 litres or 2 kg in checked baggage and maximum 1
                    liter (100ml per package) in hand baggage).<br> <br> Live animals except as allowed under certain
                    circumstances (i.e., cats and dogs).<br> <br> You must not tender dangerous goods or potentially
                    dangerous goods for carriage as baggage and must indemnify and hold Airlines harmless for any loss,
                    claim or damage suffered by Airlines or third parties caused by your carriage of such goods.<br>
                    <br> Airlines reserves the right to determine what items are unsuitable for carriage because they
                    are dangerous, unsafe or because of their weight, size, shape or character, or which are fragile or
                    perishable.<br> <br> Airlines may do what whatever we consider appropriate in dealing with such
                    goods which includes destroying, abandoning and/or retaining as evidence any such goods. Your
                    attention is drawn to signage throughout departure terminals for more information.
                </div>
                <div class="row mx-0 p-3 d-md-flex d-none action-buttons border-top">
                    <div class="col-4 px-0">
                        <button class="custom-button disable-when-guide-active w-100 h--45 text-gray"
                            (click)="goBack()">
                            <i class="fa fa-angle-left font-24 me-2"></i>
                        </button>
                    </div>
                    <div class="col-8 ps-0">
                        <button class="custom-button w-100 h--45 text-white curved bg-orange-i"
                            [ngClass]="(acceptRule)?'':'opacity-50'" (click)="Continue()"> I
                            Confirm </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-footer d-md-none anim-kit backblur-box">
    <!-- <app-footer-buttons  _nghost-tut-c69=""> -->
    <div>
        <div class="action-buttons mx-0 pt-3 px-3 row">
            <div class="col-4 px-0">
                <button class="custom-button disable-when-guide-active w-100 h--45 text-gray" id=""
                    (click)="goBack()"><i class="fa fa-angle-left font-24 me-2"></i> Back </button>
            </div><!---->
            <div class="col-8 ps-0">
                <button class="bg-orange-i curved custom-button h--45 text-white w-100" (click)="Continue()"
                    id="booking-info-submit"> Continue
                    <i class="fa fa-angle-right font-24 ms-2"></i><i class="fa fa-spin fa-circle-o-notch ms-2"
                        hidden=""></i></button>
            </div>
        </div>
    </div>
    <!-- </app-footer-buttons> -->
</div>