<div  class="action-buttons mx-0 pt-3 px-3 row">
    <div  class="col-4 px-0"><button  (click)="goBack()"
            class="custom-button disable-when-guide-active w-100 h--45 text-gray" id="">
            <i  class="fa fa-angle-left font-24 me-2" ></i> Back </button>
    </div><!---->
    <div  class="col-8 ps-0">
        <button 
            class="bg-orange-i curved custom-button h--45 opacity-50 text-white w-100" id="booking-info-submit">
            Continue <i  class="fa fa-angle-right font-24 ms-2"></i>
            <i  class="fa fa-spin fa-circle-o-notch ms-2" hidden="" (click)="countinue()"></i></button>
        </div>
</div>