<div class="page-wrapper booking-info pb-md-4 p-3">
    <div class="box-wrapper backblur-box curved card-4 anim-kit">
        <div class="overflow-hidden curved py-4 pb-md-0 pb-md-0">
            <div class="row px-3 mx-0">
                <div class="col-12 px-3 py-md-2">
                    <div class="fw-bold font-24 text-shadow-3 page-title text-center text-white mb-3 mb-md-1"> Confirm
                        information</div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-md-5 px-0 d-none d-md-block bg-whitesmoke position-relative overflow-hidden">
                    <div id="passenger-list" class="row mx-0 passengers">
                        <div class="col-12 px-0 bg-white">
                            <div class="pax py-2 px-2 border-bottom male">
                                <div class="row">
                                    <div class="col-2 pe-2 ps-4 pt-1">
                                        <div class="title fw-lighter font-15 text-center">MR
                                        </div>
                                        <input type="checkbox" tabindex="-1" name="paxFilter"
                                            class="custom-checkbox m-3 h--20 w--20 no-pointer ng-untouched ng-pristine ng-valid"
                                            hidden="">
                                    </div>
                                    <div class="col-6 ps-4 pt-2">
                                        <div class="pt-2 font-18">TEST AA</div>
                                    </div>
                                    <div class="col-4 pt-1">
                                        <div>
                                            <div class="font-13 seat fw-lighter h--25">Seat <br>
                                                Not Selected</div>
                                            <div class="font-20 text-center seat h--40" hidden="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="add-pax-button" class="add-pax">
                        <button class="custom-button ms-2 font-15 text-orange-i h--35">
                            <div
                                class="icon bg-orange-i text-white me-3 w--25 h--25 rounded-100 d-inline-block font-22 fw-bold">
                                <span>+</span>
                                <span hidden="">×</span>
                            </div>
                            Add another passenger
                        </button>
                    </div>
                </div>


                <div class="col-12 col-md-7 p-md-4 desktop-scroll-wrapper push-up-desktop">
                    <div id="flight-info-wrapper" class="pb-3">
                        <div class="position-relative pt-3 flight-route">
                            <div class="row mx-0 px-2">
                                <div class="col-6 text-blue-i">
                                    <div class="font-40 fw-lighter h--35">KEF</div>
                                    <div class="font-17 fw-lighter">Reykjavik</div>
                                </div>
                                <div class="col-6 text-end text-blue-i">
                                    <div class="font-40 fw-lighter h--35">LAS</div>
                                    <div class="font-17 fw-lighter">Las Vegas</div>
                                </div>
                            </div>
                            <div class="row mx-0 px-2" hidden="">
                                <div class="col-6 text-blue-i">
                                    <div class="font-26 fw-bold mb-3" style="margin-top: -10px;">
                                    </div>
                                    <div class="font-30 fw-lighter">KEF</div>
                                </div>
                                <div class="col-6 text-blue-i text-end">
                                    <div class="font-26 fw-bold mb-3" style="margin-top: -10px;">
                                    </div>
                                    <div class="font-30 fw-lighter">LAS</div>
                                </div>
                            </div><i
                                class="fa fa-angle-right font-22 position-absolute t-0 l-2 r-0 mt-3 mx-auto text-blue-i w--20"></i><span
                                class="font-17 position-absolute t-3 l-2 r-0 mt-4 mx-auto text-blue-i w-50 text-center"
                                hidden=""></span><span
                                class="font-17 position-absolute t-3 l-2 r-0 mt-4 mx-auto text-blue-i w-50 text-center">Thu,
                                Jun 13</span>
                        </div>
                        <div class="row mt-3 px-3">
                            <div class="col-12"><img class="w-100" src="airplane.png"></div>
                        </div>
                        <div class="row-space-between mt-3 pb-md-4 px-4">
                            <div>
                                <div class="fw-lighter font-15 text-gray">Flight</div>
                                <div class="font-18 latin">SM1460</div>
                            </div>
                            <div>
                                <div class="fw-lighter font-15 text-gray">Cabin</div>
                                <div class="font-18">Economy</div>
                            </div>
                            <div>
                                <div class="fw-lighter font-15 text-gray">Boarding</div>
                                <div class="font-18">22:45</div>
                            </div>
                            <div>
                                <div class="fw-lighter font-15 text-gray">Terminal</div>
                                <div class="font-18">1</div>
                            </div>
                        </div>
                    </div>
                    <div id="passengers-list-mobile" class="row passengers mt-0 d-md-none">
                        <div class="col-12 px-0 bg-white">
                            <div class="pax py-3 px-3 border-bottom male ng-star-inserted">
                                <div class="row">
                                    <div class="col-2 pe-0 ps-4 pt-1">
                                        <div class="title fw-lighter font-16 text-center">MR
                                        </div><input type="checkbox" tabindex="-1" name="paxFilter"
                                            class="custom-checkbox mt-2 ms-2 h--20 w--20 no-pointer ng-untouched ng-pristine ng-valid"
                                            hidden="">
                                    </div>
                                    <div class="col-6 ps-4">
                                        <div class="font-18 pt-2">TEST AA</div>
                                    </div>
                                    <div class="col-4 pe-0 pt-1">
                                        <div class="font-13 h--25">Seat <br> Not Selected</div>
                                        <!---->
                                        <div class="font-20 text-center h--40" hidden=""> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pax py-3 px-3 border-bottom male ng-star-inserted">
                                <div class="row">
                                    <div class="col-2 pe-0 ps-4 pt-1">
                                        <div class="title fw-lighter font-16 text-center">MR
                                        </div><input type="checkbox" tabindex="-1" name="paxFilter"
                                            class="custom-checkbox mt-2 ms-2 h--20 w--20 no-pointer ng-untouched ng-pristine ng-valid"
                                            hidden="">
                                    </div>
                                    <div class="col-6 ps-4">
                                        <div class="font-18 pt-2">TEST RR</div>
                                    </div>
                                    <div class="col-4 pe-0 pt-1">
                                        <div class="font-13 h--25">Seat <br> Not Selected</div>
                                        <!---->
                                        <div class="font-20 text-center h--40" hidden=""> </div>
                                    </div>
                                </div>
                            </div><!---->
                        </div>
                    </div><!---->
                    <div id="add-pax-button-mobile" class="mt-3 add-pax px-2 d-md-none">
                        <button class="custom-button ms-2 font-18 text-orange-i h--35">
                            <div
                                class="icon bg-orange-i text-white me-3 w--30 h--30 rounded-100 d-inline-block font-22 fw-bold">
                                <span>+</span>
                                <span hidden="">×</span>
                            </div>
                            Add another passenger
                        </button>
                    </div><!---->
                </div>


                <div class="row mx-0 d-none d-md-flex py-3 px-3 action-buttons border-top">
                    <div class="col-3 ps-3 pe-2">
                        <button class="custom-button disable-when-guide-active font-36 w-100 h--45 text-gray"
                            (click)="gotoHome()"> ×
                        </button>
                    </div>
                    <div class="col-9 ps-0">
                        <button id="booking-info-submit-md"
                            class="custom-button w-100 h--45 text-white curved bg-orange-i cta-button"
                            (click)="Continue()"> Continue
                            <i class="fa fa-angle-right font-15 ms-2"></i>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div  class="page-footer d-md-none anim-kit backblur-box">
    <!-- <app-footer-buttons  _nghost-tut-c69=""> -->
    <div>
        <div class="action-buttons mx-0 pt-3 px-3 row">
            <div class="col-4 px-0">
                <button class="custom-button disable-when-guide-active w-100 h--45 text-gray" id="" (click)="gotoHome()"><i
                        class="fa fa-angle-left font-24 me-2"></i> Back </button>
            </div><!---->
            <div class="col-8 ps-0">
                <button class="bg-orange-i curved custom-button h--45 text-white w-100" (click)="Continue()"
                    id="booking-info-submit"> Continue
                    <i class="fa fa-angle-right font-24 ms-2"></i><i class="fa fa-spin fa-circle-o-notch ms-2"
                        hidden=""></i></button>
                    </div>
        </div>
    </div>
    <!-- </app-footer-buttons> -->
</div>