.me-2 {
    margin-right: 0.5rem !important;
}

.anim-kit {
    transition: all 0.4s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
}
@media only screen and (min-width: 768px) {
    .anim-kit {
        transition: all 0.8s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    }
}
.wrapper-desktop {
    display: flex;
    height: 100vh;

    .sidebar-wrapper {
        padding-top: 230px;
        width: 400px;
        .pax-seat {
            width: 40px;
            height: 40px;
            line-height: 44px;
        }
    }
    .seatmap-wrapper-desktop {
        width: calc(100% - 400px);
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        position: relative;
        direction: rtl;
         .inner {
            direction: rtl;
            width: -moz-fit-content;
            width: fit-content;
            height: -moz-fit-content;
            height: fit-content;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform-origin: right;
             img {
                position: relative;
                z-index: 1;
                display: inline-block;
                vertical-align: middle;
            }
             img.plane-head {
                height: 467px;
                // top: 0;
                // bottom: 0;
                // margin: auto;
                // position: absolute;
            }
             img.plane-head-window {
                height: 400px;
                right: 200px;
                position: absolute;
                z-index: 999;
                top: 0;
                bottom: 0;
                margin: auto;
                opacity: 0.1;
            }
             img.plane-back {
                height: 1300px;
            }
             img.plane-wing {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 1200px;
                height: 1100px;
            }
             img.plane-wing.left {
                margin-top: -670px;
            }
             img.plane-wing.right {
                margin-bottom: -670px;
                transform: scaleY(-1);
            }
            .plane-inside {
                display: inline-block;
                z-index: 2;
                position: relative;
                background-color: #263862;
                border-radius: 20% 9% 8% 20%;
                height: 460px;
                margin: 0 -170px 0 -280px;
                vertical-align: middle;
                padding-left: 100px;
                .inner {
                    min-width: 2000px;
                    background: linear-gradient(90deg, #fff0, #ffffff40 25%, #ffffff40 50%, #ffffff40 75%, #fff0);

                    border-radius: 10%;
                    position: relative;
                    height: calc(100% - 30px);
                    margin: 15px 0;
                    padding: 0 100px 0 200px;
                }
            }
        }
    }
    .choosing-guide {
        position: fixed;
        direction: ltr;
        padding: 1rem !important;
        border-radius: 13px;
        -webkit-backdrop-filter: blur(50px) brightness(0.6);
        backdrop-filter: blur(50px) brightness(0.6);
        left: calc(400px + 1rem);
        top: 1rem;
        z-index: 20;
        div {
            display: inline-block;
            white-space: nowrap;
            // margin: 0.5rem;
            .guide-icon {
                width: 15px;
                height: 15px;
                border-radius: 2px;
                display: inline-block;
                margin-right: 0.5rem;
            }
            .guide-text {
                line-height: 12px;
                display: inline-block;
                margin: 0.6em;
            }
        }
    }
}
.row-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrapper {
    height: calc(calc(var(--vh, 1vh) * 100) - 80px);
    .seatmap-wrapper {
        position: absolute;
        height: calc(100% - 50px);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        .inner {
            transition: 1s cubic-bezier(0.39, 0.58, 0.57, 1);
            transform-origin: top;
            transform: translateY(-50px);
            margin-bottom: -50px;
            img {
                display: block;
                position: relative;
                z-index: 1;

                &.plane-head {
                    width: 90%;
                    margin: 60px auto -120px;
                    right: 2px;
                }
                &.plane-head-window {
                    width: 75%;
                    right: 0;
                    left: 0;
                    position: absolute;
                    z-index: 999;
                    top: 130px;
                    margin: auto;
                    opacity: 0.1;
                }
                &.plane-back {
                    width: 200%;
                    margin-left: calc(-50.5% - 0px);
                    margin-top: -300px;
                    margin-bottom: 200px;
                }
                &.plane-wing {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 0;
                    width: 240%;
                    top: 30%;
                    &.left {
                        left: calc(-120% - 760px) !important;
                    }
                    &.right {
                        right: calc(-120% - 760px) !important;
                        transform: scaleX(-1);
                    }
                }
            }
            .plane-inside {
                z-index: 2;
                width: 90%;
                margin: -5px auto;
                position: relative;
                left: -0.8px;
                background-color: #263862;
                border-radius: 10% 10% 25% 25%;
                .inner {
                    border-radius: 10%;
                    position: relative;
                    width: 95%;
                    margin: auto;
                    padding: 150px 0 200px;
                    background: linear-gradient(0deg, #fff0, #ffffff1a 25%, #ffffff40 50%, #ffffff40 75%, #fff0);
                }
            }
        }
    }
    .choosing-guide {
        border-color: #ffffff25 !important;
        div {
            display: -webkit-inline-box;
            .guide-icon {
                width: 15px;
                height: 15px;
                border-radius: 2px;
                display: inline-block;
            }
            .guide-text {
                line-height: 12px;
            }
        }
    }
}

.page-footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 70px;
    z-index: 10;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    .mobile {
        display: none !important;
        height: 35px;
    }
}

@media only screen and (max-width: 768px) {
    .page-footer {
        height: 135px;
    }
   
}
@media only screen and (min-width: 768px) {
    .main-wrapper.header-full-height .body {
        padding-top: 0;
        margin-top: 0;
        transition: none !important;
    }
}
.nowrap {
    white-space: nowrap;
}
